@font-face {
    font-family: Joystix;
    src: url('../fonts/joystix monospace.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.canvasContainer{
    position: absolute;
    height: 100%;
}

#sceneCanvas{
    background-color: #9ACFF0;
    z-index: -1;
    position: absolute;
}

.container{
    font-family: Joystix;
}

.infoContainer{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.textBox{
    font-family: Joystix;
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    background-color: rgba(0,0,0,0.7);
    border: solid 5px white;
    display: flex;
}

.textBoxImg img{
    width: 200px;
    display: block;
}

.textBoxText p{
    vertical-align:top;
    padding: 10px;
    margin: 0;
    color: white;
}

.hidden{
    display: none;
}

.button{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black;
    margin: 0 15px 10px 0;
    padding: 5px 15px 5px 15px;
    transition: all 0.2s;
}

.button:hover{
    background-color: firebrick;
    cursor: pointer;
    user-select: none;
}

/* CONTENT STYLING */

.container{
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* SIDEBAR CONTROLS */
#sidebarContainer{
    position: relative;
    height: 100%;
    float: left;
    z-index: 3;
}

#sidebar{
    height: 100%;
    padding: 10px;
    transition: all 1s;
    background-color: white;
}

#sidebarOpen{
    padding: 10px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
    width: 100%;
}

#sidebarOpen:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}

#sidebarClose{
    text-align: right;
}

#sidebarClose i{
    color: rgb(237,237,237);
    transition: all 0.2s;
}

#sidebarClose i:hover {
    color: rgb(0,0,0);
    cursor: pointer;
}

/* SIDEBAR STYLING */
#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li{
    padding: 10px 20px 10px 20px;
    transition: all 0.2s;
}

#sidebar li:hover{
    background-color: #ededed;
    cursor: pointer;
    user-select: none;
}

.active{
    background-color: #ededed;
}

/* CONTENT CONTAINER STYLING */

.contentContainer{
    background-color: #ededed;
    position: absolute;
    padding: 10px 20px 20px 10px;
    height: 100%;
}

.contentDiv{
    font-family: 'Roboto', sans-serif;
}

td{
    vertical-align: top;
}

h2, h3, h4{
    font-family: Joystix;
}
