@font-face {
    font-family: Joystix;
    src: url('../fonts/joystix monospace.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ========= GLOBAL VARIABLES ========= */

:root{
    /* COLORS */
    --text-red: firebrick;
    /* UTILITIES */
    --transition: all 0.2s;
}

*{
    box-sizing: border-box;
}

.debug{
    background-color: white;
}

.debug p{
    color: red;
}

/* ========= GLOBAL SETTINGS ========= */

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.debug{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

h2, h3, h4{
    font-family: Joystix;
    font-weight: normal;
}

h2:first-child{
    margin-top: 0;
}

p > a:hover{
    color: var(--text-red);
}

/* ========= CANVAS SETTINGS ========= */

.canvasContainer{
    position: fixed;
    top: 0;
    height: 100%;
}

#sceneCanvas{
    background-color: #9ACFF0;
    position: absolute;
}

.container{
    font-family: Joystix;
    padding: 0;
}

.infoContainer{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

/* ========= TEXTBOX SETTINGS ========= */

#textBoxContainer{
    position: fixed;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 85%;
}

#textBox{
    font-family: Joystix;
    background-color: rgba(0,0,0,0.7);
    border: solid 5px white;
    display: flex;
}

#textBoxButtons{
    position: relative;
    text-align: right;
    top: 10px;
}

.textBoxImg{
    display: flex;
    flex-flow: column-reverse;
}

.textBoxImg img{
    width: 200px;
    display: block;
}

.textBoxText p{
    vertical-align:top;
    padding: 10px;
    margin: 0;
    color: white;
}

.button{
    font-family: Joystix;
    display: inline-block;
    background-color: rgba(255,255,255,0.3);
    color: rgba(0,0,0,0.3);
    padding: 5px 10px 5px 10px;
    transition: var(--transition);
}

.button:hover{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    cursor: pointer;
    user-select: none;
}

/* ========= CONTENT STYLING ========= */

#myContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* ========= SIDEBAR CONTROLS ========= */
#sidebarContainer{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 3;
}

#sidebar{
    height: 100%;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: -200px;
    transition: var(--transition);
}

#sidebarOpen{
    padding: 10px;
    color: rgba(255,255,255,0.5);
    width: 100%;
    transition: var(--transition);
}

#sidebarOpen:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}

#sidebarClose{
    text-align: right;
}

#sidebarClose i{
    color: rgb(237,237,237);
    transition: var(--transition);
}

#sidebarClose i:hover {
    color: rgb(0,0,0);
    cursor: pointer;
}

/* ========= SIDEBAR STYLING ========= */
#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li{
    padding: 10px 20px 10px 20px;
    font-family: Joystix;
    transition: var(--transition);
}

#sidebar li:hover{
    background-color: #ededed;
    cursor: pointer;
    user-select: none;
}

.active{
    background-color: #ededed;
}

/* ========= CONTENT CONTAINER STYLING ========= */
.contentContainer{
    background-color: rgba(250,250,250,0.9);
    float: left;
    position: absolute;
    left: 100%;
    padding: 10px 20px 20px 10px;
    min-height: 100%;
    transition: var(--transition);
}

#contentWrapper{
    max-width: 1000px;
    padding: 0 20px 20px 20px;
}

.contentDiv{
    font-family: 'Roboto', sans-serif;
}

table{
    width: 100%;
}

td{
    vertical-align: top;
    padding-top: 10px;
}

td:first-child{
    font-family: Joystix;
    padding-right: 20px;
}

td a{
    transition: var(--transition);
}

td a:hover{
    color: var(--text-red);
}


.portfolioItem{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portfolioItemImage{
    width: 100%;
}

.portfolioItemTag{
    width: 100%;
    padding: 10px;
}

.portfolioItem:hover .portfolioItemTag{
    opacity: 1;
}

.portfolioItemImage img{
    width: 100%;
    display: block;
}

/* ========= CAROUSEL ========= */

.carousel{
    position: relative;
}

.carouselButtonPrevious{
    position: absolute;
    top: 50%;
    left: 20px;
}

.carouselButtonNext{
    position: absolute;
    top: 50%;
    right: 20px;
}

.carouselButtonContainer{
    text-align: center;
    margin: 10px 20px 10px 20px;
}

.carouselButton{
    font-family: Joystix;
    display: inline-block;
    font-size: 1.2em;
}

.carouselItem img{
    width: 100%;
}

/* ========= UTILITIES ========= */

.hidden{
    display: none!important;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
    .portfolioItemImage{
        width: 25%;
    }

    .portfolioItemTag{
        width: 75%;
        padding: 10px;
    }
}
