@font-face {
    font-family: Joystix;
    src: url('../fonts/joystix monospace.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ========= GLOBAL VARIABLES ========= */
:root{
    /* COLORS */
    --text-red: firebrick;
    /* UTILITIES */
    --transition: all 0.2s;
}

/* ========= GLOBAL SETTINGS ========= */
*{
    box-sizing: border-box;
    font-size: 16px;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

h2, h3, h4{
    font-family: Joystix;
    font-weight: normal;
}

h2:first-child{
    margin-top: 0;
}

p > a:hover{
    color: var(--text-red);
}

/* ========= CANVAS SETTINGS ========= */
.canvasContainer{
    position: fixed;
    top: 0;
    height: 100%;
}

#sceneCanvas{
    background-color: #9ACFF0;
    position: absolute;
}

.container{
    font-family: Joystix;
    padding: 0;
}

/* ========= INGAME TEXTBOX SETTINGS ========= */
#textBoxContainer{
    position: fixed;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 85%;
}

#textBox{
    font-family: Joystix;
    background-color: rgba(0,0,0,0.7);
    border: solid 5px white;
    display: flex;
}

#textBoxButtons{
    position: relative;
    text-align: right;
    top: 10px;
}

.textBoxImg{
    display: flex;
    flex-flow: column-reverse;
}

.textBoxImg img{
    width: 200px;
    display: block;
}

.textBoxText p{
    vertical-align:top;
    padding: 10px;
    margin: 0;
    color: white;
}

.button{
    font-family: Joystix;
    display: inline-block;
    background-color: rgba(255,255,255,0.3);
    color: rgba(0,0,0,0.3);
    padding: 5px 10px 5px 10px;
    transition: var(--transition);
}

.button:hover{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    cursor: pointer;
    user-select: none;
}

/* ========= TITLE SCREEN STYLING ========= */
.titleContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #9ACFF0;
    text-align: center;
    color: white;
    font-family: Joystix;
}

.titleContainer h1{
    font-family: Joystix;
    color: white;
    font-size: 3rem;
}

/* ========= CONTENT STYLING ========= */
#myContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* ========= SIDEBAR STYLING ========= */
#sidebarContainer{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 2;
}

#sidebar{
    height: 100%;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: -500px;
    transition: var(--transition);
    z-index: 1;
}

#sidebarOpen{
    padding: 10px;
    color: rgba(255,255,255,0.5);
    width: 100%;
    transition: var(--transition);
}

#sidebarOpen:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}

#sidebarClose{
    text-align: right;
}

#sidebarClose i{
    color: rgb(237,237,237);
    transition: var(--transition);
}

#sidebarClose i:hover {
    color: rgb(0,0,0);
    cursor: pointer;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li{
    padding: 10px 20px 10px 20px;
    font-family: Joystix;
    transition: var(--transition);
}

#sidebar li:hover{
    background-color: #ededed;
    cursor: pointer;
    user-select: none;
}

.active{
    background-color: #ededed;
}

/* ========= CONTENT CONTAINER STYLING ========= */

#contentContainer{
    background-color: rgb(240,245,245);
    float: left;
    position: absolute;
    left: 100%;
    padding: 10px 20px 20px 10px;
    min-height: 100%;
    transition: var(--transition);
    z-index: 3;
}

#closeContentButton{
    position: fixed;
    top: 10px;
    z-index: 4;
}

#contentWrapper{
    max-width: 1000px;
    padding: 50px 20px 20px 20px;
}

.contentDiv{
    font-family: 'Roboto', sans-serif;
}

table{
    width: 100%;
    font-size: 1rem;
}

td{
    vertical-align: top;
    padding-top: 10px;
}

td:first-child{
    font-family: Joystix;
    padding-right: 20px;
}

td a{
    transition: var(--transition);
    font-weight: bold;
}

td a:hover{
    color: var(--text-red);
}

.emptyRow{
    height: 30px;
}

h4 a:hover{
    color: var(--text-red);
}

/* ========= UTILITIES ========= */
.hidden{
    display: none!important;
}

@media only screen and (max-height: 1080px) {

    *{
        font-size: 16px;
    }

    .titleContainer h1{
        font-size: 1.5rem;
    }

    .title p{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 500px) {
    .textBoxImg{
        display: none;
    }

    #sidebar{
        width: 100%;
    }
}
